<ul class="password-rules" id="password-rules" data-password-input="{{ passwordInputId }}" data-confirm-input="{{ confirmInputId }}">
    <li data-rule="length"><span class="rule-icon">&#10005;</span> Au moins 8 caractères</li>
    <li data-rule="uppercase"><span class="rule-icon">&#10005;</span> Au moins une lettre majuscule</li>
    <li data-rule="lowercase"><span class="rule-icon">&#10005;</span> Au moins une lettre minuscule</li>
    <li data-rule="digit"><span class="rule-icon">&#10005;</span> Au moins un chiffre</li>
    <li data-rule="special"><span class="rule-icon">&#10005;</span> Au moins un caractère spécial (!@#$...)</li>
    <li data-rule="match"><span class="rule-icon">&#10005;</span> Les deux mots de passe correspondent</li>
</ul>
